body {
	margin: 0;
	padding: 0;
}

header {
	margin: 0 auto;
}

h1 {
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 0.5rem;
	font-size: 2.5rem;
	font-weight: bold;
	background: linear-gradient(#2F4F4F, #034694);
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

legend {
	text-align: center;
	font-size: 1.2rem;
}

form {
	padding-inline: 0.5rem;
	border-radius: 5px;
	padding: 1rem;
	border-width: 0.1rem;
}

fieldset {
	border-width: 0.1rem;
	border-radius: 10px;

}

label {
	display: block;
	margin-bottom: 5px;
	color: whitesmoke;
}

input {
	padding: 0.6rem;
	width: 100%;
	font-size: 16px;
	border: none;
	outline: 0;
	padding: 10px 14px;
	border-radius: 7px;
	box-sizing: border-box;
	margin-bottom: 0.8rem;
	color: #FFF;
	background: rgba(255,255,255,0.2);
	
}

button {
	background-color: #005A9C;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border: none;
	padding: 10px 20px;
	transition: 0.3s;
	color: white;
	border-radius: 10px;
	
}

button:hover {
	background-color: #2980b9;
}

img {
	float: left;
	object-fit: none;
	margin-right: 0%;
	width: 0%;
	visibility: collapse;
}

html {
	background: url(https://wallpapers.com/images/hd/ps5-wireless-white-controller-16c3ha0mlhs7pp31.jpg);
	background-size: cover;
	height: 100%;
	background-repeat: no-repeat;
	margin-bottom: auto;
	margin-top: auto;
	padding: 0;
}

@media (min-width: 900px) {
	form {
		margin-left: 15%;
		margin-right: 15%;
	}
	h1 {
		font-size: 75px;
	}
}

@media (min-width: 1024px) {
	html {
		height: 0;
		object-fit: none;
		font-size: 16px;
		padding: 20px;
	}
	form {
		margin-left: 10%;
		margin-right: 10%;
	}